body {
  font-size: 16px;
  color: #fff;
  background-color: #008000;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #ADFF2F;
  border-radius: 0;
  border: 0;
}

#navbar-brand{
	padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #FFD700;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
  background-color: #FFFFFF;
}
#nav-list a {
  color: #008000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 2em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #008000;
}
.navbar-header button.navbar-toggle {
  clear: both;
}
/* END HEADER */

/*Main Hompage*/

h2{
  font-weight: bold;
  font-size: 2em;
}

.Content{
  margin: 30px;
  background-color: #8B0000;
  font-family: 'Lora', sans-serif;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.Content h3{
  color: #ADFF2F;
  font-weight: bold;
  font-size: 1.8em;
  padding-top: 10px;
}

/*End of main Hompage*/

/********** Extra small devices only **********/
@media (max-width: 767px) {
	  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
}